asgiref==3.9.1
bleach==6.2.0
click==8.2.1
colorama==0.4.6
cssbeautifier==1.15.4
dj-database-url==0.5.0
Django==4.2.24
django-summernote==0.8.20.0
djlint==1.36.4
EditorConfig==0.17.1
gunicorn==23.0.0
jsbeautifier==1.15.4
json5==0.12.1
packaging==25.0
pathspec==0.12.1
psycopg2-binary==2.9.10
PyYAML==6.0.2
regex==2025.9.1
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
webencodings==0.5.1
whitenoise==5.3.0
